{% extends 'catalog/base.html' %}

{% block site_wrapper %}
{% load staticfiles %}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >
              <div class="alert alert-danger alert-dismissable" id="id_status">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
  
              </div>
              <!--hide the error message block -->
              <script type="text/javascript" language="javascript">
                document.getElementById('id_status').style.display = 'none';
              </script> 
            {% if warning %}
              <div class="alert alert-warning alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                  {{ warning }}
              </div>
            {% endif %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Change Password </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                	<img alt="User Pic" height="300" width="300" src="{% static 'catalog/images/users/' %}{{ u_details.image }}" class="img-circle img-responsive">
                </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <form action="." method="post">
                      {% csrf_token %}
                    <tbody>
                      <tr>
                        <td>Current Password:</td>
                        <td>
                          <div class="panel-footer">
                            <input type="password" id="id_c_password" name="curr_password" />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>New Password:</td>
                        <td>
                          <div class="panel-footer">
                            <input type="password" id="id_new_password" name="new_password" />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Retype:</td>
                        <td>
                          <div class="panel-footer">
                            <input type="password" id="id_re_password" name="re_password" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <input type="submit" name="submit" class="btn btn-sm btn-danger" value="change" onClick="return validate();" />
                  </div>
            </form>
          </div>
        </div>

    <script type="text/javascript" language="javascript">
      function isEmpty(id)
      {
          if(document.getElementById(id).value.length == 0)
              return true;
          else
              return false;
      }
      function isMinLen(id)
      {
          if(document.getElementById(id).value.length<6)
              return true;
          else
              return false;
      }

      function validate()
      {
        document.getElementById('id_status').style.display = 'block';

        if(isEmpty('id_c_password') || isEmpty('id_new_password') || isEmpty('id_re_password'))
        {
          document.getElementById('id_status').innerHTML = "All fields are required.";
          return false;
        }
        if(isMinLen('id_c_password') || isMinLen('id_new_password') || isMinLen('id_re_password'))
        {
          document.getElementById('id_status').innerHTML = "Minimum password length must be: 6 characters";
          return false;
        }
        if(document.getElementById('id_new_password').value != document.getElementById('id_re_password').value)
        {
          document.getElementById('id_status').innerHTML = "Passwords does not matched";
          return false;
        }
        
      }
    </script>
{% endblock %}