{% extends "catalog/base.html" %}

{% block site_wrapper %}
{% load staticfiles %}
	<div class="row">
		<div class="col-sm-12 text-right">
			<button type="button" class="btn btn-primary btn-lg">
  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Product
			</button>
		</div>
		<hr />
		<!--table for product details-->
		<div class="container">
		  <h2 class="text-center">Inventory</h2>                                                   
		  <div class="table-responsive">          
		  	<table class="table">
				<thead>
			    	<tr>
				        <th>Product ID</th>
				        <th>Added At</th>
				        <th>Name</th>
				        <th>Price</th>
				        <th>Quantity</th>
				        <th>Sold</th>
				        <th>Balance</th>
			    	</tr>
			    </thead>
			    <tbody>
			    {% for product in details %}
			    	<tr>
				        <td>{{ product.product.id }}</td>
				        <td>{{ product.added_at }}</td>
				        <td>{{ product.product.name }}</td>
				        <td>{{ product.price }}</td>
				        <td>{{ product.quantity }}</td>
				        <td>#######</td>
				        <td>#######</td>
			    	</tr>
			    {% endfor %}
			    </tbody>
			</table>
		  </div>
		</div>
	</div>
{% endblock %}



